/**
 *   ТАБЛИЦА СТИЛЕЙ ЛОКАЛЬНОЙ ВЕРСИИ ЭЛЕКТРОННОГО ЖУРНАЛА «ШКАЛА»
 *   Copyright © 2020, А.М.Гольдин. Modified BSD License
 */

/* Стартовая страница
   ---------------------------------------------------- */
h1.local {
   font-size:18pt; margin-top:40px;}
h3.local {
   margin-top:10px;}
button.local, div#loadDB button {
   display:block; width:20em; margin:20px auto; background:#963; color:#ff6;
   border:none; border-radius:5px; cursor: pointer; padding:10px;
   font-weight:bold;}
div#loadDB input {
   display:none;}
div#loadDB, div#loadResult {
   text-align:center;}
div#loadDB textarea {
   display:block; height:15em; width:800px; margin:5px auto 0px;
   padding:3pt; font-size:90%; outline: none; resize: none;
   border:1px solid #963; border-radius:3px;}
#chPwd {
   display:none;}

/* Блок такой-то
   ---------------------------------------------------- */
/*
section#notes p {
   margin:5px 0px 0px; font-size:90%;}
*/