/**  
 *   ЭЛЕКТРОННЫЙ ЖУРНАЛ «ШКАЛА»: СТИЛИ СТРАНИЦ ИНТЕРФЕЙСА УЧАЩЕГОСЯ
 *   Copyright © 2019, А.М.Гольдин. Modified BSD License
 */

#journal {
   margin-top:-25px; padding-bottom:0px;}
#journal div {
   margin:5px 2px; display:inline-block;}
#journal select {
   display:none; margin:2px auto 10px;}
#journal img {
   margin-top:100px;}
   
/* ТЕМЫ, Д/З, ОТМЕТКИ, ВЕСА ОТМЕТОК
   ----------------------------------------------------- */
#journal table {
   width:100%; border-collapse:collapse; border:1px solid #963;
   margin-bottom:100px;}
#journal table th, #journal table td {
   padding:2px 5px; border:1px solid #963;}
#journal table td:nth-child(3), #journal table td:nth-child(4) {
   text-align:left;}
#journal table tr.it {
   background:#e6ded5; font-weight:bold;}
#journal table tr.it td:nth-child(2) { /* вес итоговой отметки не показываем */
   color:#e6ded5;}

/* МОБИЛЬНАЯ ВЕРСИЯ
   ----------------------------------------------------- */
@media (max-width: 960px) {
   
}