/**  
 *   ЭЛЕКТРОННЫЙ ЖУРНАЛ «ШКАЛА»: СТИЛИ СТРАНИЦ С ОТМЕТКАМИ И ТЕМАМИ УРОКОВ
 *   Copyright © 2019, А.М.Гольдин. Modified BSD License
 */

#register {
   margin-top:-25px; padding-bottom:0px;}
#register div {
   margin:5px 2px; display:inline-block;}
#register select {
   margin:2px;}
#register img {
   margin-top:100px;}
   
/* ОТМЕТКИ
   ----------------------------------------------------- */
div#regGrades {
   width:calc(100% - 430px); overflow-x:auto;}

/* ТЕМЫ УРОКОВ
   ----------------------------------------------------- */
div#regTopics {
   width:400px; vertical-align:top;
   height:calc(100vh - 150px);}
div#regNewTopic {
   display:block; margin:0px; height:150px;}
div#regJustTopics {
   display:block; margin: 5px 0px 0px;
   height:calc(100% - 155px); overflow-y:auto;}
   
/* МОБИЛЬНАЯ ВЕРСИЯ
   ----------------------------------------------------- */
@media (max-width: 960px) {
   #register div {
      display:block;}
   div#regGrades, div#regTopics {
      width:98%; margin:5px auto;}
   div#regTopics {
      height:800px;}   
}