/**  
 *   ЭЛЕКТРОННЫЙ ЖУРНАЛ «ШКАЛА»: СТИЛИ СТРАНИЦ С ОТМЕТКАМИ И ТЕМАМИ УРОКОВ
 *   Copyright © 2019, А.М.Гольдин. Modified BSD License
 */

#register {
   margin-top:-25px; padding-bottom:0px;}
#register div {
   margin:5px 2px; display:inline-block;}
#register select {
   margin:2px;}
#register img {
   margin-top:100px;}
   
/* ОТМЕТКИ
   ----------------------------------------------------- */
div#regGrades {
   width:calc(100% - 430px); text-align:left; position:relative;
   margin-bottom:50px;}
div#regGrades div {
   width:calc(100% - 10em - 10px); margin-top:0px; margin-left:calc(10em + 5px);
   overflow-x:auto; text-align:left; white-space:nowrap;}
div#regGrades table {
   display:inline-block; border-collapse:collapse;
   border-top:2px solid #963; border-bottom:2px solid #963;}
div#regGrades table td {
   width:42px; text-align:center; padding:2px; white-space:nowrap;
   border:1px solid #963; border-left:none;}
div#regGrades table tr:nth-child(even) {
   background:#edeae7;}
div#regGrades table.grIt td {
   background:#e6ded5; font-weight:bold;}
div#regGrades table tr:first-child td {
   color:#963;}
div#regGrades table tr:first-child td:hover {
   cursor:pointer;}
div#regGrades > table {
   position:absolute; top:0px; left:0px;}
div#regGrades > table td {
   text-align:left; border-left:1px solid #963; width:10em; max-width:10em;
   white-space:nowrap; overflow: hidden; text-overflow:ellipsis; cursor:pointer;}
div#regGrades table tr:nth-child(2) td {
   font-weight:bold; color:gray; border-bottom-width:2px}
div#regGrades input {
   width:38px; height:calc(100% - 4px); border:none; border-radius:0px;
   margin:0px; padding:0px; font-family:fnt; text-align:center; outline:none;}

/* ТЕМЫ УРОКОВ
   ----------------------------------------------------- */
div#regTopics {
   width:400px; vertical-align:top;
   height:calc(100vh - 150px);}
div#regNewTopic {
   display:block; margin:0px; height:150px;}
div#regNewTopic h3 {
   font-size:12pt; margin-bottom:0px;}
div#regNewTopic textarea {
   display:block; width:calc(100% - 10px); height:55px; font-size:11pt;
   resize:none; margin:3px; padding:2px; overflow:auto;
   border:1px solid #963; border-radius:3px;}
div#regNewTopic input[type=text] {
   display:block; width:calc(100% - 10px); font-size:11pt;
   margin:0px 3px 3px 3px; padding:2px;
   border:1px solid #963; border-radius:3px;}
div#regNewTopic input[type=number] {
   width:2em; font-size:11pt; margin:0px 10px 0px 0px;}
div#regNewTopic button {
   margin:0px;}
div#regJustTopics {
   display:block; margin: 5px 0px 0px; padding:3px;
   border:1px solid #963; border-radius:3px; background:white;
   height:calc(100% - 155px); overflow-y:auto;}
div#regJustTopics p {
   font-size:11pt; text-align:left; margin:0px 0px 5px 3em;
   text-indent:-3em;
   -webkit-hyphens:auto; -moz-hyphens:auto; -ms-hyphens:auto; hiphens:auto;}
div#regJustTopics p span {
   color:gray;}
div#regJustTopics p b {
   color:#963;}
div#regJustTopics p b:hover {
   text-decoration:underline; cursor:pointer;}
   
/* ВЫБОР ВЕСА ОТМЕТОК И КОЛИЧЕСТВА ЧАСОВ ПРИ ВВОДЕ ТЕМЫ
   ----------------------------------------------------- */
select#regTopWeight, select#regTopVol {
   padding:0px; font-size:90%; font-weight:bold;
   text-align:center; text-align-last: center;}
select#regTopVol {
   margin-right:10px;}
   
/* МОБИЛЬНАЯ ВЕРСИЯ
   ----------------------------------------------------- */
@media (max-width: 960px) {
   #register div {
      display:block;}
   div#regGrades, div#regTopics {
      width:98%; margin:5px auto;}
   div#regTopics {
      height:800px;}   
}