/**
 *   ТАБЛИЦА СТИЛЕЙ ЭЛЕКТРОННОГО ЖУРНАЛА «ШКАЛА»
 *
 *   Copyright © А. М. Гольдин, 2019. a@goldin.su
 *   Лицензия CC BY-NC-ND Version 4.0
 *   https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode.ru
 */

@font-face {
   font-family:fnt; src:url("ptsans.otf");}
body {
   background:#f6f3f0; font:12pt fnt, sans-serif;
   margin:0px; padding:0px;
}
h1, h2, h3 {
   color:#963; text-align:center; margin:12pt 0px 6pt;
}
h3 {
   font-size:1.1em;}
h3:first-child {
   margin-top:0px;}
select {
   -webkit-appearance: none; -moz-appearance: none;
   -ms-appearance: none; appearance: none;}
   
/* ОКНА С ФОРМОЙ АВТОРИЗАЦИИ И ИНФОРМАЦИОННЫМ СООБЩЕНИЕМ
   ----------------------------------------------------- */
article, output {
   display: none; width:18em; position:absolute; top:30%; left:50%;
   margin-top:-5em; margin-left:-9em; padding:0px; border:1px solid #639;
   border-radius:10px; box-shadow: 2px 2px 3px 2px #999;
   text-align:center; background:#f6f3ee;}
output {
   top:40%; z-index:99999;}
article h1, article input, article button, output button, article div {
   font-size:14pt;}
article h1 {
   background:#963; color:#ff6; margin:0px 0px 20px; padding:5px;
   border:1px solid #963; border-radius:10px 10px 0px 0px;
   font-weight:bold;}
article div {
   font-size:12pt; color:red; text-align:center;
   margin-bottom:20px; display:none;}
output div {
   font-size:14pt; text-align:center; margin:20px 5px 0px;}
article input, article button, output button {
   display:inline-block; width:80%; margin:5px 0px; padding:3px;}
article input {
   background:#f6f3f0; border:none; border-bottom:1px solid #963;}
article input:focus {
   background:#fff; outline:none;}
article input#uCateg, article input#uCateg:focus {
   background:#e6ded5; text-align:center; font-size:0.9em;
   font-weight:bold; color:#963; border:none; padding:3px;}
article button, output button {
   background:#963; color:#ff6; border:none;
   margin:20px 0px; font-weight:bold; cursor: pointer;}
article img {
   display:block; margin:5px auto -2px;}

/* ХИДЕР (ЗАГОЛОВОЧНАЯ СТРОКА И МЕНЮ)
   ----------------------------------------------------- */
header, nav {
   position:fixed; width:100%; height:22pt; left:0px; top:0px;
   z-index:99998; background:#963; color:#ff6; font-size:14pt;
   padding:2pt 6pt 0px; text-align:right;
}
header span {
   padding:0px 3pt;}
header span#progName {
   position:absolute; left:10px; top:2pt; font-weight:bold;}
header span#chPwd, header a {
   text-decoration:none; color:#ff6;}
header a {
   padding-right:10px;}
header select {
   background:#963; color:#ff6; font-size:12pt; border:none; padding-top:0px;}
nav {
   top:22pt; background:#b0844d; text-align:center;}
nav ul {
   margin:0px; padding:0px;}
nav li {
   list-style:none; display:inline; padding:3pt 12pt 0px;}
nav li.sel {
   background:#f6f3ee; color:#963; font-weight:bold;
   box-shadow:inset 0px 2px 0px 0px #b0844d; border-bottom:5pt solid #f6f3ee;
   border-radius:5px 5px 0px 0px;}
header span#chPwd:hover, header a:hover, header select:hover, nav li:hover {
   cursor:pointer;}
header img {
   height:14pt; position:fixed; top:5px; left:5px; display:none;}
header img:hover {
   cursor:pointer;}
   
/* ФУТЕР
   ----------------------------------------------------- */
footer {
   position:fixed; width:100%; left:0px; bottom:0px;
   z-index:99997; background:#963; color:#ff6; font-size:11pt;
   padding:2pt 2px; text-align:center; display:none;
}
footer a {
   color:#ff6; text-decoration:none}
footer a:hover {
   text-decoration:underline}

/* СОДЕРЖАТЕЛЬНЫЕ БЛОКИ СТРАНИЦЫ: ОБЩИЕ СТИЛИ
   ----------------------------------------------------- */
section {
   display:none; position:absolute; width:100%; left:0px; top:70pt;
   text-align:center; padding-bottom:60px;}
section button {
   background:#963; color:#ff6; border:none; cursor: pointer;
   margin:20px 0px; padding:3px 10px; font-weight:bold;
   border-radius:3px;}
section input, section select {
   font-size:1em; padding:3px; border:1px solid #b0844d; border-radius:3px;}

/* БЛОК РАБОТЫ С ПОЛЬЗОВАТЕЛЯМИ
   ----------------------------------------------------- */
section#users input {
   display:block; width:15em; max-width:98%; margin:3pt auto;}
section#users select {
   margin:3pt auto; background:white;}
section#users button {
   display:block; margin:3pt auto;}
section#users button#addUser {
   background:none; font-weight:normal; color:#963;}
section#users button#addUser:hover {
   text-decoration:underline; color:#b0844d;}
   
/* БЛОК РАБОТЫ СО СПИСКОМ КЛАССОВ
   ----------------------------------------------------- */
section#classes select {
   margin:3pt; background:white;}
section#classes div {
   display:inline-block; max-width:98%; text-align:left;}
section#classes span {
   display:inline-block; margin:3px; padding:3px;
   width:3.2em; background:#e6ded5;}
section#classes span div {
   display:inline; margin-right:3px;}
section#classes span div:hover {
   cursor:pointer;}

/* БЛОК РАБОТЫ СО СПИСКОМ ПРЕДМЕТОВ
   ----------------------------------------------------- */
section#subjects div {
   display:inline-block; max-width:98%; text-align:left;}
section#subjects span, section#subjects input {
   display:block; margin:3px auto; padding:3px;
   width:25em; max-width:98%; background:#e6ded5;}
section#subjects input {
   background:#fff; max-width:95%;}
section#subjects input:first-of-type {
   margin-top:30px;}
section#subjects input.sbEd {
   width:90%; margin:auto;}
section#subjects span div {
   display:inline-block; width:1.5em; margin-right:3px; color:#963;}
section#subjects span div:hover {
   cursor:pointer;}
section#subjects span div.noCur:hover {
   cursor:default;}
   
/* МОБИЛЬНАЯ ВЕРСИЯ
   ----------------------------------------------------- */
@media (max-width: 960px) {
   /* Хидер и меню ............................. */
   header img {
      display:block;}
   span#progName {
      display:none;}
   nav {
      display:none;}
   nav ul {
      position:fixed; left:0px; top:22pt; width:100%;}
   nav li {
      display:block; padding:3px; background:#b0844d;}
   nav li.sel {
      box-shadow:none; border:none; border-radius:0px;
      background:#b0844d; color:#ff6;   }
   section {
      top:48pt;}
}